@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* 
Paletas de cores
cinza escuro: #515259
Verde-claro:#BDD959

amarelo-limão:​#D2F25E
Verde-oliva: #7B8C3B
Vermelho vivo:#D93636
*/
html, body{
    background-color:  #515259;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;

}
section#login div#imagem{
    display: block;
    background: #7B8C3B url(../imagens/pexels-divinetechygirl-1181273.jpg);
    height: 200px;
    background-position: center bottom;
    background-size: cover;
}
section#login div#formulario{
    display: block;
    padding: 10px;
}
div#formulario h1{
    text-align: center;
    margin-bottom: 10px;
    

}
div#formulario p{
    font-size: 0.8em;
}
form div.campo-formulario{
    background-color: #515259;
    border: 2px solid #515259;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0;
}
div.campo-formulario label{
    display: none;

}
div.campo-formulario i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo-formulario input{
    background-color: #BDD959;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);

}
div.campo-formulario input:focus-within{
    background-color: white;
    border: none;
}
form input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#7B8C3B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: #515259;
}

/* Botao sem usando o div */
form a.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5PX;
    background-color:#7B8C3B;
    text-decoration: none;
    color:white;
    border: 1px solid #7B8C3B transparent;
    border-radius: 7px;
}
form a.botao:hover{
    background-color: #515259;
}
form a.botao:hover i{
    font-size: 0.8em;
}


/* Centralizando o botao usando div 
.centralizar-botoes{
    display: flex;
    justify-content: center;
    gap: 10px; Espaço entre os botões 
    flex-wrap: wrap; 
     Quebra linha em telas pequenas 
}
.centralizar-botoes input[type="submit"]{
    flex: none;
}
.centralizar-botoes .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #7B8C3B;
    text-decoration: none;
    color: white;
    border: 1px solid #515259 transparent;
    border-radius: 7px;
}
.centralizar-botoes .botao:hover{
    background-color: #515259;
}
.centralizar-botoes .botao i{
    font-size: 0.8em;
    padding: 2px;
}
*/

